---
---

@import "{{ site.theme }}";

.wrapper {
    width: 1000px;
}

header {
    width: 270px;
    float: right;
}

section {
    width: 640px;
    float: left;
}

footer {
    width: 270px;
    float: right;
}
