---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

img {
  border: 1px solid black;
  border-radius: 12px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 5px 10px;
  background-color: #f9f9f9;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
}

.search-input::placeholder {
  color: #aaa;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}
